<?xml version="1.0" encoding="utf-8"?>
<!-- For configuration when publishing the website -->
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod> <!-- tool to publish the website -->
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish> <!-- launching the website afer publishing it --> 
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration> <!-- Publish the app in the optimized production version -->
    <LastUsedPlatform>Any CPU</LastUsedPlatform> <!-- Website can be launched on any device, regardless of the cpu. -->
    <SiteUrlToLaunchAfterPublish /> <!-- No url since currently the website is only locally hosted -->
    <ExcludeApp_Data>false</ExcludeApp_Data> <!-- Include app data when deploying/publishing -->
    <ProjectGuid>3d197e9f-271a-4fdf-aade-4b08f44d798a</ProjectGuid><!-- Visual studio project id -->
    <SelfContained>false</SelfContained> <!-- rely on .net specifications installed on this device -->
    <MSDeployServiceURL>localhost</MSDeployServiceURL> <!-- host type -->
    <DeployIisAppPath>EmployAI</DeployIisAppPath><!-- EmployAI folder sql server -->
    <RemoteSitePhysicalPath /> <!-- the host is now local so there is no need for that -->
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>  <!-- skip files that are not important while deploying/publishing -->
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod> <!-- in process, do not restart for any server related change, do it automatically -->
    <EnableMSDeployBackup>false</EnableMSDeployBackup> <!-- no backup -->
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline> <!-- offline ->> localhost  -->
    <UserName /> <!-- no username/password required for authentaction -->
    <_SavePWD>false</_SavePWD> <!-- if logged in before password will not be save for each deployment -->
    <_TargetId>IISWebDeploy</_TargetId> <!-- target deploymend id, method/target (iis server by microsoft for hosting and running web applications) -->
  </PropertyGroup>
</Project>